</br>
<h4>Agregar doctor</h4>
<div class="row-fluid">
	<div class="span3">
		<%= f.label :names, "Nombre" %>
		<%= f.text_field :names %>
	</div>		
	<div class="span3">
		<%= f.label :last_names, "Apellidos" %>
		<%= f.text_field :last_names %>
	</div>
	<div class="span3">
		<%= f.label :rut, "Rut" %>
		<%= f.text_field :rut %>
	</div>
	<div class="span3">
		<%= f.label :specialty, "Especialidad médica" %>
		<% specialties = HsSpecialty.find(:all, order: "name asc").map{ |specialty| [specialty.name, specialty.name] } %>
		<%= f.select(:specialty, options_for_select(specialties)) %> 
	</div>
</div>
<%= f.link_to_remove "Quitar doctor" %>













