<% provide(:title, 'Editar doctor') %>
<% set_meta_tags noindex: true, nofollow: true%>
<h1>Editar doctor</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@hs_doctor) do |f| %>
			<%= render 'shared/error_messages', object: f.object %>

			<%= f.label :names %>
			<%= f.text_field :names %>

			<%= f.label :last_names %>
			<%= f.text_field :last_names %>

			<%= f.label :rut %>
			<%= f.text_field :rut %>

			<%= f.label :specialty %>
			<select name="hs_doctor[specialty]" id="hs_doctor_specialty">
				<% @hs_specialties.each do |specialty| %>
					<% if @hs_doctor.specialty == specialty.name %>
						<option selected value="<%=specialty.name%>"><%=specialty.name%></option>
					<% else %>
						<option value="<%=specialty.name%>"><%=specialty.name%></option>
					<% end %>
					
				<% end %>
			</select>

			<%= f.label :has_avatar %>
			<%= f.text_field :has_avatar %>

			<%= f.label :hs_clinic_id %>
			<%= f.text_field :hs_clinic_id %>

			<%= f.submit "Guardar cambios", class: "btn btn-large" %>
		<% end %>
	</div>
</div>