<div class="body-home">
	<div class="container">
		<div class="hero-unit effect-opacity">
			<h2>Resultados para <strong>"<%= @search_tag %>"</strong></h2>
			<% if @doctors.any? %>
			<ul>
				<% @doctors.each do |doctor| %>
					<li><strong><%=doctor.hs_clinic.name%></strong>
						<dl class="dl-horizontal">
							<dt>Profesional</dt>
							<dd>Dr. <%= doctor.names.camelize %><%= ' '+doctor.last_names.camelize%> - <%= doctor.specialty.camelize %>
							</dd>
							<dt>Dirección</dt>
							<dd><%= doctor.hs_clinic.address %> - <%= doctor.hs_clinic.township.downcase.camelize%></dd>
							<dt>Teléfono</dt>
							<dd><%= doctor.hs_clinic.phone %></dd>
						</dl>
					</li>
				<% end %>
			</ul>
			<%= will_paginate @doctors, params: {search: @search_tag, state: @state_tag, township: @township_tag} %>
			<% else %>
				<strong>No se encontraron resultados de su búsqueda </strong>
			<% end %>
		</div>
	</div>
</div>

