<% provide(:title, 'Consultas médicas en Santiago') %>

<section class="bg_search">
    <div class="result">
        <div class="box">
        	<h3>Consultas médicas en Santiago</h3>
        	<span class="tag"></span>
        	<ul>
	        	<% @hs_clinics.each do |clinic| %>
					<li>
						<h4>
							<% if clinic.name != ' ' %>
									<b><%=clinic.name%></b>			
								<% else %>
									<b>Consulta Privada</b>
								<% end %>
						</h4>
						<p><b>Dirección</b><%= clinic.address + ' - ' + clinic.township.downcase.camelize%></p>
						<% if clinic.phone[0] == "2" 
									h_phone = "2"+clinic.phone
									phone = clinic.phone
							   else
									h_phone = "9"+clinic.phone
									phone  = clinic.phone[0]+'-'+clinic.phone[1..-1]
							   end
                    	%>
						<p><b>Teléfono:</b><a href="tel:+56<%=h_phone%>"><%=phone%></a></p>
						<% if clinic.hs_doctors.any? %>
							<p><b>Profesionales</b>						
							</p>
							<ul class="list-doctors">
								<% clinic.hs_doctors.each do |doctor| %>			
									<li>Dr(a). <%= doctor.names.camelize + ' ' + doctor.last_names.camelize + ' - ' + doctor.specialty.camelize%></li>
								<% end %>
							</ul>	
						<% end %>
					</li>
	        	<% end %>
	        </ul>
	        <%= will_paginate @hs_clinics %>
    	 </div>
    </div>
</section>