<% provide(:title, 'Agregar clínica') %>
<section class="one-color">
	<div class="container hero-unit form-container">
		<figcaption>
	    	<h2>TEXTO TEXTO PARA QUEDAR COMO REY CON LAS TERRIBLES GEMAS</h2>
		</figcaption>
		<h2>Agregar clínica</h2>
			<%= nested_form_for @hs_clinic, html: {class: "form-horizontal"} do |f| %>
				<%= render 'shared/error_messages', object: f.object %>
				<div class="row-fluid">
					<div class="span4">
						<%= f.label :name, "Nombre Clínica" %>
						<%= f.text_field :name %>
					</div>		
					<div class="span4">
						<%= f.label :address, "Dirección" %>
						<%= f.text_field :address %>
					</div>
					<div class="span4">
						<%= f.label :phone, "Teléfono" %>
						<%= f.text_field :phone %>
					</div>
				</div>
				<div class="row-fluid">
					<div class="span4">
						<label for="hs_clinic_hs_state_id">Región</label>
						<select name="hs_clinic[hs_state_id]" id="hs_clinic_hs_state_id">
							<% @hs_states.each do |state| %>
								<option value="<%=state.id%>"><%=state.name%></option>
							<% end %>
						</select>
					</div>		
					<div class="span4">
						<label for="hs_clinic_township">Comuna</label>
						<select name="hs_clinic[township]" id="hs_clinic_township">		
							<% @hs_townships.each do |township| %>	
								<option value="<%=township.name%>" class="<%=township.hs_state_id%>"><%=township.name.downcase.camelize%></option>
							<% end %>		 
						</select>
					</div>
					<div class="span4">
						<%= f.label :email, "Email" %>
						<%= f.text_field :email %>
						
					</div>
				</div>
				<%= f.hidden_field :country, value: "Chile" %>

				<%= f.fields_for :hs_doctors, @hs_clinic.hs_doctors do |builder|%>
					<%= render '/hs_doctors/form_add_doctor', f: builder %>
				<% end %>
				<%= f.link_to_add "Agregar otro doctor", :hs_doctors %>
				<p>
					<%= f.submit "Agregar clinica", class: "btn btn-primary btn-large submit-clinic " %>
				</p>			
			<% end %>
	</div>
</section>


<script type="text/javascript">
		dynamicSelect("hs_clinic_hs_state_id", "hs_clinic_township");
</script>