<%= render 'fb_comments' %>
<%= provide(:title, @entry.title) %>
<div class="body-blog">
	<div class="container">
		<h2><%=@entry.title%></h2>
		<h5><%=I18n.localize(@entry.created_at, format: :long)%></h5>
	</div>
	<div class="container">
		<div class="row" >
			<% if @entry.has_avatar == 1 %>
				<div class="span8 offset2">					
					<%= image_tag @entry.image_url.to_s %>
				</div>
			<% end %>
			<div class="span8 offset2 entry-text">
				<%= simple_format(@entry.text)%>
			</div>
			<% if signed_in? %>
				<div class="span2 offset8 ver-mas">
					<%= link_to "Editar", edit_blog_path(@entry)%> | 
					<%= link_to "Eliminar", blog_path(@entry), method: :delete, data: { confirm: "Esta seguro "} %>
				</div>						
			<% end %>
		</div>
		

		<div class="span8 offset2" id="fb-div">
			<a href="https://twitter.com/share" class="twitter-share-button" data-via="HoraSalud" data-lang="es">Twittear</a>
		<%= content_tag(:div, nil, :class => 'fb-comments', "data-href" => "#{request.fullpath}", "data-width" => '600', "data-num-posts" => "2"  ) %>
		</div>
		</br>
	</div>
	</br>
</div>

<script>
!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
</script>

<% # content_tag(:div, nil, :class => 'fb-comments', "data-href" => "#{request.protocol}#{request.host_with_port}#{request.fullpath}", "data-width" => '470', "data-num-posts" => "2"  ) %>
