<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Inicio", root_path %></li>          
          <% if signed_in? %>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Clinicas <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Mostrar", hs_clinics_path %></li>
                <li><%= link_to "Agregar", new_hs_clinic_path %></li>
              </ul>
            </li>
            <li id="fat-menu" class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                Cuenta <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to "Perfil", current_user %></li>
                <li><%= link_to "Configuración", edit_hs_account_path(current_user) %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Salir", signout_path, method: "delete" %>
                </li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Blog", "#" %></li>
            <li><%= link_to "Contacto", "#" %></li>
            <li><%= link_to "Identificarse", signin_path %></li>
          <% end %> 
        </ul>
      </nav>
    </div>
  </div>
</header>